    body{
          display:flex;
          justify-content:center;
          align-items: center;
        }

        .tela{
          background-color: #fafafa;
          border-radius: 10px;
          box-shadow: 2px 5px rgb(244,248,6);
        }
